body {
	margin: 10;
	font-family: Helvetica;
}

h1 {
	color: brown;
}

h2 {
	color: red;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#logo {
  height: 80px;
  width: 80px;
}
